pandas==1.5.3
numpy 
scikit-learn
azure-common
azure-ai-ml
azureml-dataset-runtime[fuse,pandas]
azureml-core==1.53.0
azureml-mlflow==1.53.0
azureml-telemetry==1.53.0
azure-identity
mlflow
azureml-mlflow
mltable==0.1.0b4
azureml_dataprep[parquet,pandas]
azureml_dataprep_rslex
responsibleai==0.24.0 
raiwidgets==0.24.0
fastparquet
pyarrow==5.0.0
shap 
